@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/FromLayout.cshtml";
}

<form class="form-valide" action="#" method="post">
    <div class="form-group row">

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="NationalID" placeholder="رقم الهوية الوطنية" pattern="[0-9]*" required value="1234567890"/>
        </div>

        <div class="col-lg-6">
            <input type="text" class="form-control" id="IqamaNumber" placeholder="رقم الأقامة" pattern="[0-9]*" >
        </div>
    </div>
    <div class="form-group row justify-content-around">

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="SecondNameAr" placeholder="الأسم الأب" required value="يوزر">
        </div>
        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="FirstNameAr" placeholder="الأسم الأول" required value="تيست">
        </div>   <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="LastNameAr" placeholder="الإسم العائلة" required value="عائله">
        </div>  <div class="col-lg-6">
            <input type="text" class="form-control" id="ThirdNameAr" placeholder="الإسم الجد">
        </div>
    </div>
    <div class="form-group row justify-content-around">

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="SecondNameEn" placeholder="الإسم الأب باللغة الانجليزية" required value="test">
        </div>   <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="FirstNameEn" placeholder="الإسم الأول  باللغة الانجليزية" required value="user">
        </div>   <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="LastNameEn" placeholder=" الإسم العائلة   باللغة الانجليزية" required value="fam">
        </div>  <div class="col-lg-6">
            <input type="text" class="form-control" id="ThirdNameEn" placeholder="الإسم الجد باللغة الانجليزية">
        </div>
    </div>
    <div class="form-group row">

        <div class="col-lg-6">
            <input type="text" class="form-control" id="Phone" placeholder="رقم الجوال">
        </div>   <div class="col-lg-6">
            <input type="email" class="form-control" id="Email" placeholder="البريد الإلكتروني">
        </div>
    </div>

    <div class="form-group row">

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="gender" name="val-skill" required>
            </select>
        </div>

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="nation" name="val-skill" required>
            </select>
        </div>

    </div>
    <div class="form-group row">

        <div class="col-lg-6">
            <select class="form-control select2Class" id="religion" name="val-skill">
            </select>
        </div>


        <div class="col-lg-6">
            <select class="form-control select2Class" id="bloodType" name="val-skill">
            </select>
        </div>

    </div>
    <div class="form-group row">

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="maritalStatus" name="val-skill" required>
            </select>
        </div>

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="healthstatus" name="val-skill" required>
            </select>
        </div>

    </div>
    <div class="form-group row">

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="employeeStatusCode" name="val-skill" required>
            </select>
        </div>

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="JobNumber" placeholder="رقم الوظيفة" required value="1">

        </div>

    </div>
    <div class="form-group row">

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="jobClassCode" name="val-skill" required>
            </select>
        </div>


        <div class="col-lg-6">
            <textarea class="form-control h-150px" rows="4" cols="30" id="jobClassDescription" placeholder="وصف سلسلة الفئات الوظيفة"></textarea>

        </div>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="jobCatChain" placeholder="رمز مسمى الفئة الوظيفية">

        </div>

        <div class="col-lg-6">
            <select class="form-control select2Class" id="JobNameCode" name="val-skill">
            </select>

        </div>

        <div class="col-lg-6">
            <textarea class="form-control h-150px" rows="4" cols="30" id="jobNameDescription" placeholder="وصف مسمى الوظيفة"></textarea>

        </div>
        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="employmentTypeCode" name="val-skill" required>
            </select>
        </div>



    </div>
    <div class="form-group row justify-content-around">
        <div class="col-lg-6">
            <input type="number" class="form-control" id="RemainingAnnualBalance" placeholder="الرصيد المتبقي السنوي">

        </div>

        <div class="col-lg-6">
            <input type="number" class="form-control" id="RemainingBusinessBalance" placeholder="رصيد الانتداب المتبقي">

        </div>

        <div class="col-lg-6">
            <select class="form-control select2Class" id="TransactionCode" name="val-skill">
            </select>
        </div>

        <div class="col-lg-6 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="IsActive" name="val-skill" required>
                <option>على رأس العمل ؟</option>
                <option value="true" selected>نعم</option>
                <option value="false">لا</option>
            </select>
        </div>

        <div class="col-lg-6">
            <select class="form-control select2Class" id="TerminationReasonCode" name="val-skill">
            </select>
        </div>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="actualOrganizationName" placeholder=" مسمى الإدارة الفعلية للموظف">

        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <textarea class="form-control h-150px" rows="4" cols="30" id="employmentTypeDescription" placeholder="وصف السلم الوظيفي"></textarea>

        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="rankCode" name="val-skill" required>
            </select>
        </div>

        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="stepID" placeholder="الدرجة" required value="3">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="birthday" name="val-skill" required>
                <option value="">اختر يوم الميلاد </option>
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="birthyear" name="val-skill" required>
                <option value="">اختر سنة الميلاد </option>
                @{
                    HijriCalendar hijri = new HijriCalendar();
                    var year = hijri.GetYear(DateTime.Now);

                }
                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" onchange="renderDate('birthday', 'birthmonth')" id="birthmonth" name="val-skill" required>
                <option value=""> اختر شهر الميلاد</option>
                <option value="01" selected>محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="stepday" name="val-skill">
                <option value="">اختر يوم الدرجة </option>

            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="stepyear" name="val-skill">
                <option value="">اختر سنة الدرجة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('stepday', 'stepmonth')" id="stepmonth" name="val-skill">
                <option value=""> اختر شهر الدرجة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="gradeday" name="val-skill" required>
                <option value="">اختر يوم الحلول في المرتبة </option>
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="gradeyear" name="val-skill" required>
                <option value="">اختر سنة الحلول في المرتبة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" onchange="renderDate('gradeday', 'grademonth')" id="grademonth" name="val-skill" required>
                <option value=""> اختر شهر الحلول في المرتبة</option>
                <option value="01" selected>محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row justify-content-around">

        <div class="col-lg-4">
            <select class="form-control select2Class" id="actualJobNameCode" name="val-skill">
            </select>
        </div>


        <div class="col-lg-4">
            <textarea class="form-control h-150px" rows="4" cols="30" id="actualJobNameDescription" placeholder="وصف مسمى الوظيفة الفعلية"></textarea>

        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="JobOrganizationID" placeholder="رمز الإدارة التي تتبعها الوظيفة" required value="903/266">
        </div>

        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><input type="text" class="form-control" id="JobOrganizationName" placeholder="مسمى الإدارة التي تتبعها الوظيفة" required value="بلدية طريف">
        </div>


        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><input type="number" min="1000" class="form-control" id="basicSalary" placeholder="الراتب الأساسي" required value="5000">
        </div>

        <div class="col-lg-4">
            <input type="text" class="form-control" id="actualOrganizationID" placeholder="رمز الإدارة الفعلية للموظف">
        </div>
    </div>

    <div class="form-group row justify-content-around">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Promotionday" name="val-skill">
                <option value="">اختر يوم الترقية المتوقعة </option>
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Promotionyear" name="val-skill">
                <option value="">اختر سنة الترقية المتوقعة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('Promotionday', 'Promotionmonth')" id="Promotionmonth" name="val-skill">
                <option value=""> اختر شهر الترقية المتوقعة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row justify-content-around ">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Hireday" name="val-skill">
                <option value="">اختر يوم التعيين في الحكومة </option>

            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Hireyear" name="val-skill">
                <option value="">اختر سنة الترقية المتوقعة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('Hireday', 'Hiremonth')" id="Hiremonth" name="val-skill">
                <option value=""> اختر شهر التعيين في الحكومة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row justify-content-around ">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="area" name="val-skill">
                <option value="">اختر المنطقة </option>

            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="gov" name="val-skill">
                <option value="">
                    اختر المحافظة
                </option>


            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="loaction" name="val-skill" required>
                <option value=""> اخترالموقع</option>
            </select>
        </div>

    </div>
    <div class="form-group row justify-content-around">
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="MinistryHireday" name="val-skill" required>
                <option value="">اختر يوم التعيين في الوزارة </option>
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" id="MinistryHireyear" name="val-skill" required>
                <option value="">اختر سنة الترقية الوزارة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4 d-flex flex-row">
            <span style="color:red">*</span><select class="form-control select2Class" onchange="renderDate('MinistryHireday', 'MinistryHiremonth')" id="MinistryHiremonth" name="val-skill" required>
                <option value=""> اختر شهر التعيين في الوزارة</option>
                <option value="01" selected>محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>

    <div class="form-group row justify-content-around">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Terminationday" name="val-skill">
                <option value="">اختر يوم الانتهاء </option>

            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Terminationyear" name="val-skill">
                <option value="">اختر سنة الانتهاء </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('Terminationday', 'Terminationmonth')" id="Terminationmonth" name="val-skill">
                <option value=""> اختر شهر الانتهاء</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row ">
        <input class="btn btn-sent btn-add2" onclick="PostEmployee()" value="اضافة">
        @*<div class="btn btn-sent btn-add2" onclick="PostEmployee()">اضافة</div>*@
    </div>

</form>
@section Scripts{
    <script src="~/viewsscripts/employeescript.js" asp-append-version="true"></script>
}