@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/FromLayout.cshtml";
}
@{
    HijriCalendar hijri = new HijriCalendar();
    var year = hijri.GetYear(DateTime.Now);

}
<input type="text" id="year" value="@year" hidden />
<form class="form-valide" action="#" method="post">

    <div class="form-group row jusfity-content-end">

        <div class="col-lg-6">
            <select class="form-control select2Class" id="employees" name="val-skill">
            </select>
        </div>
    </div>
    <div class="form-group row justify-content-around">


        <div class="col-lg-6">
            <select class="form-control select2Class" id="JobClassCode" name="val-skill">
            </select>
        </div>
        <div class="col-lg-6">
            <input type="number" class="form-control" id="JobCatChain" name="val-username" placeholder="رمز مسمى الفئة الوظيفية  ">

        </div>
       
        <div class="col-lg-6">
            <select class="form-control select2Class" id="JobNameCode" name="val-skill">
            </select>
        </div>

        <div class="col-lg-6">
            <textarea class="form-control h-150px" rows="4" cols="30" id="JobNameDescription" placeholder="وصف مسمى الوظيفة"></textarea>

        </div>
        <div class="col-lg-6">
            <select class="form-control select2Class" id="EmploymentTypeCode" name="val-skill">
            </select>

        </div>
        <div class="col-lg-6">
            <textarea class="form-control h-150px" rows="4" cols="30" id="EmploymentTypeDescription" placeholder="وصف السلم الوظيفي"></textarea>

        </div>
        <div class="col-lg-6">
            <select class="form-control select2Class" id="RankCode" name="val-skill">
            </select>

        </div>
      
        <div class="col-lg-6">
            <input type="number" class="form-control" id="StepID" name="val-username" placeholder="الدرجة ">

        </div>
    </div>
    <div class="row jusfify-content-around">
        <div class="col-lg-6">
            <textarea class="form-control h-150px" rows="4" cols="30" id="JobClassDescription" placeholder="وصف سلسلة الفئات الوظيفة"></textarea>

        </div>
        <div class="col-lg-6">
            <textarea class="form-control h-150px" rows="4" cols="30" id="RankDescription" placeholder="وصف المرتبة"></textarea>

        </div>
    </div>

   

   
    <div class="form-group row">
        <div class="col-lg-6">
            <input type="number" min="1000" class="form-control" id="BasicSalary" placeholder="  الراتب الأساسي   ">

        </div>

        <div class="col-lg-6">
            <input type="number" class="form-control" id="DecisionNumber" placeholder="  رقم القرار ">

        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-6">
            <select class="form-control select2Class" id="TransactionCode" name="val-skill">
            </select>

        </div>
        <div class="col-lg-6">
            <textarea class="form-control h-150px" rows="4" cols="30" id="TransactionDescription" placeholder="وصف الإجراء الوظيفي"></textarea>


        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="stepday" name="val-skill">
                <option value="">اختر يوم الدرجة </option>

            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="stepyear" name="val-skill">
                <option value="">اختر سنة الدرجة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('stepday', 'stepmonth')" id="stepmonth" name="val-skill">
                <option value=""> اختر شهر الدرجة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Decisionday" name="val-skill">
                <option value="">اختر يوم  القرار </option>

            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Decisionyear" name="val-skill">
                <option value="">اختر سنة  القرار </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('Decisionday', 'Decisionmonth')" id="Decisionmonth" name="val-skill">
                <option value=""> اختر شهر  القرار</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Gradeday" name="val-skill">
                <option value="">اختر يوم  المرتبة </option>

            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="Gradeyear" name="val-skill">
                <option value="">اختر سنة  المرتبة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('Gradeday', 'Grademonth')" id="Grademonth" name="val-skill">
                <option value=""> اختر شهر  المرتبة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    
    <div class="form-group row">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="TransactionStartday" name="val-skill">
                <option value="">اختر يوم  بداية الإجراء </option>

            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="TransactionStartyear" name="val-skill">
                <option value="">اختر سنة  بداية الإجراء </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('TransactionStartday', 'TransactionStartmonth')" id="TransactionStartmonth" name="val-skill">
                <option value=""> اختر شهر  بداية الإجراء</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <select class="form-control select2Class" id="TransactionEndday" name="val-skill">
                <option value="">اختر يوم  نهاية الإجراء </option>

            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" id="TransactionEndyear" name="val-skill">
                <option value="">اختر سنة  نهاية الإجراء </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control select2Class" onchange="renderDate('TransactionEndday', 'TransactionEndmonth')" id="TransactionEndmonth" name="val-skill">
                <option value=""> اختر شهر  نهاية الإجراء</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>

    </div>

    @*        <div class="form-group row">
    <div class="col-lg-3">
    <div class="btn btn-info" onclick="drawQualification()">اضافة مؤهل</div>
    </div>

    </div>
    *@



    <center class="row">
        <div class="btn btn-sent btn-add2" onclick="PostEmployeeHistorical()">اضافة</div>
    </center>



</form>
@section Scripts{
    <script src="~/viewsscripts/RegisterEmployeeHistorical.js" asp-append-version="true"></script>
}