@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/FromLayout.cshtml";
}

<form class="form-valide" action="#" method="post">
    <div class="form-group row">

          <div class="col-lg-3">
            <input type="text" class="form-control" id="NationalID" placeholder="رقم الهوية الوطنية ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            رقم الهوية الوطنية    
        </label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="IqamaNumber" placeholder="رقم الإقامة ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            رقم الإقامة    
        </label>
    </div>
    <div class="form-group row">

        <div class="col-lg-3">
            <input type="text" class="form-control" id="SecondNameAr" placeholder=" الإسم الأب ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            الإسم الأب     <span class="text-danger">*</span>
        </label>   <div class="col-lg-3">
            <input type="text" class="form-control" id="FirstNameAr" placeholder=" الإسم الأول ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            الإسم الأول    <span class="text-danger">*</span>
        </label>   <div class="col-lg-3">
            <input type="text" class="form-control" id="LastNameAr" placeholder="الإسم العائلة  ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            الإسم العائلة     <span class="text-danger">*</span>
        </label>   <div class="col-lg-3">
            <input type="text" class="form-control" id="ThirdNameAr"  placeholder="الإسم الجد  ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            الإسم الجد    
        </label>
    </div>
    <div class="form-group row">

        <div class="col-lg-3">
            <input type="text" class="form-control" id="SecondNameEn"  placeholder=" الإسم الأب ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            الإسم الأب   باللغة الانجليزية   <span class="text-danger">*</span>
        </label>   <div class="col-lg-3">
            <input type="text" class="form-control" id="FirstNameEn"  placeholder=" الإسم الأول ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            الإسم الأول  باللغة الانجليزية   <span class="text-danger">*</span>
        </label>   <div class="col-lg-3">
            <input type="text" class="form-control" id="LastNameEn"  placeholder="الإسم العائلة  ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            الإسم العائلة   باللغة الانجليزية   <span class="text-danger">*</span>
        </label>   <div class="col-lg-3">
            <input type="text" class="form-control" id="ThirdNameEn"  placeholder="الإسم الجد  ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            الإسم الجد  باللغة الانجليزية  
        </label>
    </div>
    <div class="form-group row">

        <div class="col-lg-3">
            <input type="text" class="form-control" id="Phone"  placeholder="  رقم الجوال  ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            رقم الجوال  
        </label>   <div class="col-lg-3">
            <input type="email" class="form-control" id="Email"  placeholder=" البريد الإلكتروني  ">
        </div><label class="col-lg-3 col-form-label" for="val-username">
            البريد الإلكتروني   
        </label>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <select class="form-control" id="birthday" name="val-skill">
                <option value="">اختر يوم الميلاد </option>

            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="birthyear" name="val-skill">
                <option value="">اختر سنة الميلاد </option>
                @{
                    HijriCalendar hijri = new HijriCalendar();
                    var year = hijri.GetYear(DateTime.Now);

                }
                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" onchange="renderDate('birthday', 'birthmonth')" id="birthmonth" name="val-skill">
                <option value=""> اختر شهر الميلاد</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-username">
            تاريخ الميلاد    <span class="text-danger">*</span>
        </label>
    </div>
    <div class="form-group row">

        <div class="col-lg-3">
            <select class="form-control" id="gender" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            الجنس <span class="text-danger">*</span>
        </label>
        <div class="col-lg-3">
            <select class="form-control" id="nation" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            الجنسية <span class="text-danger">*</span>
        </label>
    </div>
    <div class="form-group row">

        <div class="col-lg-3">
            <select class="form-control" id="religion" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            الديانة <span class="text-danger">*</span>
        </label>
        <div class="col-lg-3">
            <select class="form-control" id="bloodType" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            فصيلة الدم 
        </label>
    </div>
    <div class="form-group row">

        <div class="col-lg-3">
            <select class="form-control" id="maritalStatus" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            الحالة الاجتماعية <span class="text-danger">*</span>
        </label>
        <div class="col-lg-3">
            <select class="form-control" id="healthstatus" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            الحالة الصحية <span class="text-danger">*</span>
        </label>
    </div>
    <div class="form-group row">

        <div class="col-lg-3">
            <select class="form-control" id="employeeStatusCode" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز حالة الموظف<span class="text-danger">*</span>
        </label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="JobNumber"  placeholder=" رقم الوظيفة ">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رقم الوظيفة <span class="text-danger">*</span>
        </label>
    </div>
    <div class="form-group row">

        <div class="col-lg-9">
            <select class="form-control" id="jobClassCode" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز سلسلة الفئات الوظيفية  <span class="text-danger">*</span>
        </label>

        <div class="col-lg-9">
            <textarea class="form-control h-150px" rows="4" cols="30" id="jobClassDescription"></textarea>

        </div> <label class="col-lg-3 col-form-label" for="val-email">
            وصف سلسلة الفئات الوظيفة   
        </label>
        <div class="col-lg-9">
            <input type="text" class="form-control" id="jobCatChain" placeholder=" رمز مسمى الفئة الوظيفية">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز مسمى الفئة الوظيفية   
        </label>
        <div class="col-lg-9">
            <select class="form-control" id="JobNameCode" name="val-skill">
            </select>

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز مسمى الوظيفة   <span class="text-danger">*</span>
        </label>
        <div class="col-lg-9">
            <textarea class="form-control h-150px" rows="4" cols="30" id="jobNameDescription"></textarea>

        </div> <label class="col-lg-3 col-form-label" for="val-email">
            وصف مسمى الوظيفة   
        </label>
        <div class="col-lg-9">
            <select class="form-control" id="employmentTypeCode" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز السلم الوظيفي  <span class="text-danger">*</span>
        </label>
        <div class="col-lg-9">
            <textarea class="form-control h-150px" rows="4" cols="30" id="employmentTypeDescription"></textarea>

        </div> <label class="col-lg-3 col-form-label" for="val-email">
            وصف السلم الوظيفي  
        </label>
        <div class="col-lg-9">
            <select class="form-control" id="rankCode" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز المرتبة  <span class="text-danger">*</span>
        </label>
        <div class="col-lg-9">
            <input type="text" class="form-control" id="stepID" placeholder="  الدرجة   ">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            الدرجة   <span class="text-danger">*</span>
        </label>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <select class="form-control" id="stepday" name="val-skill">
                <option value="">اختر يوم الدرجة </option>

            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="stepyear" name="val-skill">
                <option value="">اختر سنة الدرجة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" onchange="renderDate('stepday', 'stepmonth')" id="stepmonth" name="val-skill">
                <option value=""> اختر شهر الدرجة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-username">
            تاريخ الدرجة    
        </label>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <select class="form-control" id="gradeday" name="val-skill">
                <option value="">اختر يوم الحلول في المرتبة </option>

            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="gradeyear" name="val-skill">
                <option value="">اختر سنة الحلول في المرتبة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" onchange="renderDate('gradeday', 'grademonth')" id="grademonth" name="val-skill">
                <option value=""> اختر شهر الحلول في المرتبة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-username">
            تاريخ الحلول في المرتبة   <span class="text-danger">*</span>
        </label>
    </div>
    <div class="form-group row">

        <div class="col-lg-9">
            <select class="form-control" id="actualJobNameCode" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز مسمى الوظيفة الفعلية 
        </label>

        <div class="col-lg-9">
            <textarea class="form-control h-150px" rows="4" cols="30" id="actualJobNameDescription"></textarea>

        </div> <label class="col-lg-3 col-form-label" for="val-email">
            وصف مسمى الوظيفة الفعلية    
        </label>
        <div class="col-lg-9">
            <input type="text" class="form-control" id="JobOrganizationID" placeholder=" رمز الإدارة التي تتبعها الوظيفة ">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز الإدارة التي تتبعها الوظيفة   <span class="text-danger">*</span>
        </label>
        <div class="col-lg-9">
            <input type="text" class="form-control" id="JobOrganizationName" placeholder=" رمز مسمى الوظيفة  ">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            مسمى الإدارة التي تتبعها الوظيفة  <span class="text-danger">*</span>
        </label>




        <div class="col-lg-9">
            <input type="number" min="1000" class="form-control" id="basicSalary" placeholder="  الراتب الأساسي   ">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            الراتب الأساسي   <span class="text-danger">*</span>
        </label>
        <div class="col-lg-9">
            <input type="text" class="form-control" id="actualOrganizationID" placeholder="   رمز الإدارة الفعلية للموظف   ">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز الإدارة الفعلية للموظف   
        </label>
        <div class="col-lg-9">
            <input type="text" class="form-control" id="actualOrganizationName" placeholder="   مسمى الإدارة الفعلية للموظف   ">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            مسمى الإدارة الفعلية للموظف 
        </label>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <select class="form-control" id="Promotionday" name="val-skill">
                <option value="">اختر يوم الترقية المتوقعة </option>

            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="Promotionyear" name="val-skill">
                <option value="">اختر سنة الترقية المتوقعة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" onchange="renderDate('Promotionday', 'Promotionmonth')" id="Promotionmonth" name="val-skill">
                <option value=""> اختر شهر الترقية المتوقعة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-username">
            تاريخ الترقية المتوقعة   
        </label>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <select class="form-control" id="Hireday" name="val-skill">
                <option value="">اختر يوم التعيين في الحكومة </option>

            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="Hireyear" name="val-skill">
                <option value="">اختر سنة الترقية المتوقعة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" onchange="renderDate('Hireday', 'Hiremonth')" id="Hiremonth" name="val-skill">
                <option value=""> اختر شهر التعيين في الحكومة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-username">
            تاريخ التعيين في الحكومة   <span class="text-danger">*</span>
        </label>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <select class="form-control" id="area" name="val-skill">
                <option value="">اختر المنطقة </option>

            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="gov"  name="val-skill">
                <option value="">
                    اختر المحافظة
                </option>


            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="loaction" name="val-skill">
                <option value=""> اخترالموقع</option>

            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-username">
            رمز المقر  <span class="text-danger">*</span>
        </label>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <select class="form-control" id="MinistryHireday" name="val-skill">
                <option value="">اختر يوم التعيين في الوزارة </option>

            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="MinistryHireyear" name="val-skill">
                <option value="">اختر سنة الترقية الوزارة </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" onchange="renderDate('MinistryHireday', 'MinistryHiremonth')" id="MinistryHiremonth" name="val-skill">
                <option value=""> اختر شهر التعيين في الوزارة</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-username">
            تاريخ التعيين في الوزارة  
        </label>
    </div>
    <div class="form-group row">
        <div class="col-lg-9">
            <input type="number" class="form-control" id="RemainingAnnualBalance" placeholder=" الرصيد المتبقي السنوي ">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            الرصيد المتبقي السنوي  
        </label>
        <div class="col-lg-9">
            <input type="number" class="form-control" id="RemainingBusinessBalance" placeholder=" رصيد الانتداب المتبقي ">

        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رصيد الانتداب المتبقي  
        </label>
        <div class="col-lg-9">
            <select class="form-control" id="TransactionCode" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز الإجراء الوظيفي 
        </label>
        <div class="col-lg-9">
            <select class="form-control" id="IsActive" name="val-skill">
                <option value="true">نعم</option>
                <option value="false">لا</option>
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            على رأس العمل ؟ <span class="text-danger">*</span>
        </label>
        <div class="col-lg-9">
            <select class="form-control" id="TerminationReasonCode" name="val-skill">
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-email">
            رمز سبب الانتهاء<span class="text-danger">*</span>
        </label>
    </div>
    <div class="form-group row">
        <div class="col-lg-3">
            <select class="form-control" id="Terminationday" name="val-skill">
                <option value="">اختر يوم الانتهاء </option>

            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="Terminationyear" name="val-skill">
                <option value="">اختر سنة الانتهاء </option>

                @for (int i = 1300; i <= year; i++)
                {
                    <option value="@i">  @i </option>
                }
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" onchange="renderDate('Terminationday', 'Terminationmonth')" id="Terminationmonth" name="val-skill">
                <option value=""> اختر شهر الانتهاء</option>
                <option value="01">محرم</option>
                <option value="02">صفر</option>
                <option value="03">ربيع الأول</option>
                <option value="04">	ربيع الآخر	</option>
                <option value="05">جمادى الأولى</option>
                <option value="06">جمادى الآخرة	</option>
                <option value="07">رجب</option>
                <option value="08">شعبان</option>
                <option value="09">رمضان</option>
                <option value="10">شوال</option>
                <option value="11">ذو القعدة	</option>
                <option value="12">ذو الحجة		</option>
            </select>
        </div>
        <label class="col-lg-3 col-form-label" for="val-username">
            تاريخ الانتهاء <span class="text-danger">*</span>
        </label>
    </div>
    <center>
        <div class="btn btn-success" onclick="PostEmployee()">اضافة</div>
    </center>



</form>
@section Scripts{
    <script src="~/viewsscripts/employeescript.js" asp-append-version="true"></script>
}